{% extends 'home.html' %}
{% block content_two %}
<div class="row justify-content-center">
<div class="card text-center">
    <div class="card-header"> </div>
    <div class="card-body">
        <h2 class="card-title">{{companie.name}}</h2>
        <p class="card-text">{{companie.description}}</p>
        <div class="card-text text-danger">
            {% if companie.is_tested %}
            This company has already been tested before
            {% endif %}
        </div>
    </div>

</div>

<form action="/vuln/create/" method="POST">
    {% csrf_token %}
    <input hidden type="text" name="companie_id" value="{{companie.id}}">
    <div class="card text-center">
        <div class="card-body">
            <div class="form-group container">
                <select id="inputState" name="level" class="form-control mb-3">
                    <option selected>Choose critical level</option>
                    {% for l in levels %}
                    <option value="{{l}}">{{l}}</option>
                    {% endfor %}
                </select>
                <select id="inputState" name="vulnerability" class="form-control mb-3">
                    <option selected>Choose vulnerability type</option>
                    {% for v in vulns %}
                    <option value="{{v}}">{{v}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group container">
                <textarea class="form-control" name="description" rows="3" value="{{description}}"
                    placeholder="Description"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add Vulnerability</button>
        </div>
    </div>
</form>

{% if vulnerabilities %}
<div class="col-md-8">
    <table class="table table-ligth text-center">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th scope="col">vulnerability type</th>
                <th scope="col">critical level</th>
                <th scope="col">description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for v in vulnerabilities %}
            <tr>
                <th></th>
                <th></th>
                <th scope="row">{{v.vulnerability}}</th>
                <td>{{v.level}}</td>
                <td>{{v.description}}</td>
                <td>
                    <a class="btn btn-danger" href="/vuln/{{v.id}}/delete" role="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
</div>
{% endblock %}